.spinner {
  --size: 75px;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.spinner-item {
  --animation-duration: 800ms;
  --clr-spinner: #2c68c7;
  height: 40%;
  background-color: var(--clr-spinner);
  width: calc(var(--size) / 13);
  border-radius: 6px;
  animation: spinnerAnimate var(--animation-duration) ease-out infinite;
}

.spinner-item:nth-child(1) {
  --clr1: #6a48c7;
  --clr-spinner: var(--clr1);
}

.spinner-item:nth-child(2) {
  --clr2: #c9409d;
  --clr-spinner: var(--clr2);
  animation-delay: calc(var(--animation-duration) / 10);
}

.spinner-item:nth-child(3) {
  --clr3: #fd5469;
  --clr-spinner: var(--clr3);
  animation-delay: calc(var(--animation-duration) / 10 * 2);
}

.spinner-item:nth-child(4) {
  --clr4: #104fb4;
  --clr-spinner: var(--clr4);
  animation-delay: calc(var(--animation-duration) / 10 * 3);
}

.spinner-item:nth-child(5) {
  --clr5: #1e6ceb;
  --clr-spinner: var(--clr5);
  animation-delay: calc(var(--animation-duration) / 10 * 4);
}

@keyframes spinnerAnimate {
  25% {
    transform: scaleY(2);
  }

  50% {
    transform: scaleY(1);
  }
}
